<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- fontawesome cdn -->
    <script src="https://kit.fontawesome.com/661ef41f70.js" crossorigin="anonymous"></script>
    <!-- for star css -->
     <link rel="stylesheet" href="/css/star.css">

    <title>Shopping App</title>
</head>
<body style="width: 99%; min-height: 100vh; display: flex; flex-direction: column;">
    <!-- for body -->
    <div style="flex: 1;">
        <%-body%>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer') %>

    <!-- for js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
</body>
</html>