<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Displaying a particular NETA</h1>
    <a href="/api/netas"> <button>Back</button> </a>
    <div>
        <h3>Name: <%= foundNeta.name%> </h3>
        <h3>Party: <%= foundNeta.party%> </h3>
        <h3>IsMale: <%= foundNeta.isMale%> </h3>
        <h3>IsCorrupt: <%= foundNeta.isCorrupt%> </h3>
    </div>
</body>
</html>