<footer>
        <p class="copyright">©2025 Vivek Chaudhary</p>
    </footer>
    <style>
        footer {
            position: relative;
            bottom: 0;
            height: 40px;
            border-top: 1px solid #33333342;
            width: 100%;
            background-color: white;
            margin-top: auto;
        }

        p.copyright {
            margin: 0;
            line-height: 40px;
            width: 100%;
            color: #000000a3;
            font-size: 1em;
            text-align: center;
        }
    </style>
</body>
</html>